<div class="container footer">
  <div class="row">
    <div class="col-md-4">
      <h2>Parkour spot finder</h2>
    </div>
    <div class="col-md-4">
      <h3>Support</h3>
      <ul>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Privacy</h3>
      <ul>
        <li>Privacy policy</li>
        <li>Cookie policy</li>
      </ul>
    </div>
  </div>
</div>